<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.havaachat.mapper.ChatMessageMapper">
    <!--插入-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="messageId">
        insert into chat_message(session_id, message_type, message_content, send_user_id, send_user_nick_name, send_time, contact_id, contact_type, file_size, file_name, file_type,status,create_time, update_time)
        values
            (#{sessionId}, #{messageType}, #{messageContent}, #{sendUserId}, #{sendUserNickName}, #{sendTime}, #{contactId}, #{contactType},#{fileSize},#{fileName},#{fileType},#{status},#{createTime},#{updateTime})#{fileSize
    </insert>
    <!--查询用户在指定时间内应该收到的所有消息-->
    <select id="findBatchByContactIdListAndTime" resultType="cn.havaachat.pojo.entity.ChatMessage">
        select * from chat_message
        where contact_id in
        <foreach collection="contactIdList" item="contactId" open="(" separator="," close=")">
            #{contactId}
        </foreach>
        and send_time &gt;= #{lastReceiveTime}
    </select>
    <!--更新-->
    <update id="update">
        update chat_message
        <set>
            <if test="sessionId!=null">session_id=#{sessionId},</if>
            <if test="messageType!=null">message_type=#{messageType},</if>
            <if test="messageContent!=null">message_content=#{messageContent},</if>
            <if test="sendUserId!=null">send_user_id=#{sendUserId},</if>
            <if test="sendUserNickName!=null">send_user_nick_name=#{sendUserNickName},</if>
            <if test="sendTime!=null">send_time=#{sendTime},</if>
            <if test="contactId!=null">contact_id=#{contactId},</if>
            <if test="contactType!=null">contact_type=#{contactType},</if>
            <if test="fileSize!=null">file_size=#{fileSize},</if>
            <if test="fileName!=null">file_name=#{fileName},</if>
            <if test="fileType!=null">file_type=#{fileType},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where message_id=#{messageId}
    </update>
</mapper>