<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.havaachat.mapper.ChatSessionUserMapper">
    <!--批量查询用户会话对象及其lastMessage、lastReceiveTime和memberCount-->
    <select id="findBatchWithSessionByUserId" resultType="cn.havaachat.pojo.entity.ChatSessionUser">
        select csu.*,cs.last_message as lastMessage,cs.last_receive_time as lastReceiveTime,
               case when substring(csu.contact_id,1,1)='G' then (select count(1) from user_contact uc where uc.contact_id = csu.contact_id)
               else 0
               end as memberCount
        from chat_session_user csu inner join chat_session cs on csu.session_id = cs.session_id
        where csu.user_id = #{userId}
        order by cs.last_receive_time desc
    </select>
    <!--批量插入-->
    <insert id="insertBatch">
        insert into chat_session_user
        value
        <foreach collection="chatSessionUserList" item="item" separator=",">
            (#{item.userId},#{item.contactId},#{item.sessionId},#{item.contactName},#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>
    <!--批量修改-->
    <update id="updateBatch">
        <foreach collection="chatSessionUserList" item="item" separator=";">
            update chat_session_user
            <set>
                <if test="item.sessionId!=null">session_id=#{item.sessionId},</if>
                <if test="item.contactName!=null">contact_name=#{item.contactName},</if>
                <if test="item.createTime!=null">create_time=#{item.createTime},</if>
                <if test="item.updateTime!=null">update_time=#{item.updateTime},</if>
            </set>
            where user_id=#{item.userId} and contact_id=#{item.contactId}
        </foreach>
    </update>
    <!--修改-->
    <update id="update">
        update chat_session_user
        <set>
            <if test="sessionId!=null">session_id=#{sessionId},</if>
            <if test="contactName!=null">contact_name=#{contactName},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where user_id=#{userId} and contact_id=#{contactId}
    </update>
    <update id="updateByContactId">
        update chat_session_user
        <set>
            <if test="sessionId!=null">session_id=#{sessionId},</if>
            <if test="contactName!=null">contact_name=#{contactName},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where contact_id=#{contactId}
    </update>
</mapper>