<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.havaachat.mapper.GroupInfoMapper">
    <insert id="insert">
        insert into group_info
        (group_id, group_name, group_owner_id, group_notice, join_type, status, create_time, update_time)
        value (#{groupId}, #{groupName}, #{groupOwnerId}, #{groupNotice}, #{joinType}, #{status},#{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update group_info
        <set>
            <if test="groupName!=null">group_name=#{groupName},</if>
            <if test="groupOwnerId!=null">group_owner_id=#{groupOwnerId},</if>
            <if test="groupNotice!=null">group_notice=#{groupNotice},</if>
            <if test="joinType!=null">join_type=#{joinType},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime}</if>
        </set>
        where group_id=#{groupId}
    </update>
    <!--分页批量查找-->
    <select id="findBatch" resultType="cn.havaachat.pojo.entity.GroupInfo">
        select gi.*,ui.nick_name as groupOwnerNickName,
               (select count(*) from user_contact uc where uc.contact_id=gi.group_id) as memberCount
        from group_info gi inner join user_info ui on gi.group_owner_id=ui.user_id
        <where>
            <if test="groupId!=null">and gi.group_id=#{groupId}</if>
            <if test="groupName!=null">and gi.group_name like concat('%',#{groupName},'%')</if>
            <if test="groupOwnerId!=null">and gi.group_owner_id=#{groupOwnerId}</if>
            <if test="groupNotice!=null">and gi.group_notice like concat('%',#{groupNotice},'%')</if>
            <if test="joinType!=null">and gi.join_type=#{joinType}</if>
            <if test="status!=null">and gi.status=#{status}</if>
            <if test="createTime!=null">and gi.create_time=#{createTime}</if>
            <if test="updateTime!=null">and gi.update_time=#{updateTime}</if>
        </where>
        order by gi.create_time desc
    </select>
</mapper>